<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
<h1>Coffee and Health</h1>
<body bgcolor="#EDD8D1  ">
<p style="font-family:'Courier New'">
<p></p>
<p>Coffee lovers around the world who reach for their favorite morning brew probably aren’t thinking about its health benefits or risks. And yet this beverage has been subject to a long history of debate. In 1991 coffee was included in a list of possible carcinogens by the World Health Organization. By 2016 it was exonerated, as research found that the beverage was not associated with an increased risk of cancer; on the contrary, there was a decreased risk of certain cancers among those who drink coffee regularly once smoking history was properly accounted for. Additional accumulating research suggests that when consumed in moderation, coffee can be considered a healthy beverage. </p>
<p></p>
<p>Coffee is an intricate mixture of more than a thousand chemicals. The cup of coffee you order from a coffee shop is likely different from the coffee you brew at home. What defines a cup is the type of coffee bean used, how it is roasted, the amount of grind, and how it is brewed. Human response to coffee or caffeine can also vary substantially across individuals. Low to moderate doses of caffeine (50–300 mg) may cause increased alertness, energy, and ability to concentrate, while higher doses may have negative effects such as anxiety, restlessness, insomnia, and increased heart rate. Still, the cumulative research on coffee points in the direction of a health benefit. Does the benefit stem from the caffeine or plant compounds in the coffee bean? Is there a certain amount of coffee needed a day to produce a health benefit?</p>

<h2>Source Of:</h2>
<li>Caffeine</li>
<li>Vitamin B2 (riboflavin)</li>
<li>Magnesium</li>
<li>Plant chemicals: polyphenols including chlorogenic acid and quinic acid, and diterpenes including cafestol and kahweol</li>
<p></p>
<p>One 8-ounce cup of brewed coffee contains about 95 mg of caffeine. A moderate amount of coffee is generally defined as 3-5 cups a day, or on average 400 mg of caffeine, according to the Dietary Guidelines</p>
<p></p>
<h2>Health benefits of drinking coffee</h2>
<p>Some potential health benefits <a href=https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5696634/>associated with</a> drinking coffee include protection against <a href=https://www.medicalnewstoday.com/articles/317462>type 2 diabetes</a>, <a href=https://www.medicalnewstoday.com/info/parkinsons-disease/>Parkinson’s disease</a>, liver disease, and <a href=https://www.medicalnewstoday.com/articles/172408.php>liver cancer</a>. Coffee consumption may also support cardiovascular health.</p>
<p></p>
<h3>Source Of:</h3>
<p>Coffee beans are the seeds of a fruit called a coffee cherry. Coffee cherries grow on coffee trees from a genus of plants called Coffea. There are a wide variety of species of coffee plants, ranging from shrubs to trees.</p>
<p></p>
<li>Type of bean. There are two main types of coffee species, Arabica and Robusta. Arabica originates from Ethiopia and produces a mild, flavorful tasting coffee. It is the most popular type worldwide. However, it is expensive to grow because the Arabica plant is sensitive to the environment, requiring shade, humidity, and steady temperatures between 60-75 degrees Fahrenheit. The Robusta coffee plant is more economical to grow because it is resistant to disease and survives in a wider range of temperatures between 65-97 degrees Fahrenheit. It can also withstand harsh climate changes such as variations in rainfall and strong sunlight.</li>
<p></p>
<li>Type of roast. Coffee beans start out green. They are roasted at a high heat to produce a chemical change that releases the rich aroma and flavor that we associate with coffee. They are then cooled and ground for brewing. Roasting levels range from light to medium to dark. The lighter the roast, the lighter the color and roasted flavor and the higher its acidity. Dark roasts produce a black bean with little acidity and a bitter roasted flavor. The popular French roast is medium-dark.</li>
<p></p>
<li>Type of grind. A medium grind is the most common and used for automatic drip coffee makers. A fine grind is used for deeper flavors like espresso, which releases the oils, and a coarse grind is used in coffee presses.</li>
<p></p>
<li>Decaffeinated coffee. This is an option for those who experience unpleasant side effects from caffeine. The two most common methods used to remove caffeine from coffee is to apply chemical solvents (methylene chloride or ethyl acetate) or carbon dioxide gas. Both are applied to steamed or soaked beans, which are then allowed to dry. The solvents bind to caffeine and both evaporate when the beans are rinsed and/or dried. According to U.S. regulations, at least 97% of the caffeine must be removed to carry the decaffeinated label, so there may be trace residual amounts of caffeine. Both methods may cause some loss of flavor as other naturally occurring chemicals in coffee beans that impart their unique flavor and scent may be destroyed during processing.</li>
<p></p>

